{% extends 'general-template.html'  %}
{% block content %}

<body>

<h1>{{ image_id }}</h1>

<table>
    <tr>
        <th>Classes</th>
        <th>Relations</th>
        <th>Image</th>
    </tr>
    <tr>
        <td>
            {% for result in data.classes_results %}
                <a href="/image_search?description={{ result[0] }}">{{ result[0] }}</a>
                <br>
            {% endfor %}
        </td>
        <td>
            {% for result in data.relations_results %}
                <a href="/relation_search?relation={{ result[0] }}&class1={{ result[1] }}&class2={{ result[2] }}">{{ result[0] }} {{ result[1] }} {{ result[2] }}</a>
                <br>
            {% endfor %}
        </td>
        <td>
            <a href= "{{ img_url }}">
                <img href= "{{ img_url }}">
            </a>
        </td>
    </tr>
</table>

{% endblock %}
